.fabric-date {
  display: inline-flex;
  flex-direction: column;
  width: 5.5rem;
  height: 5.5rem;
  border: 1px solid #ececec;
  background-color: #9098a9;
  color: white;
  border-radius: 12px;
  align-items: center;
  justify-content: center;
}

.fabric-date-month {
  font-size: 0.75rem;
  font-weight: bold;
}

.fabric-date-year {
  font-size: 0.75rem;
}

.fabric-date-day {
  font-size: 1.5rem;
  font-weight: bold;
}
