button {
  border: none;
  border-radius: 3px;
  font-weight: 700;
  height: 50px;
  margin-right: 10px;
  padding: 0 20px;
}

.clone {
  background-color: teal;
  color: white;
}

.destroy {
  background-color: lightcoral;
}

.emojis {
  font-size: 75px;
}

.error {
  color: lightcoral;
  font-style: italic;
  font-weight: 500;
}
