.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.3);
}

.is-open {
  display: block;
}

.modal .container {
  padding: 0px 16px;
}

.modal .pad-y {
  padding-top: 8px;
  padding-bottom: 8px;
}

.modal header, footer{
  color: #20232a;
  background-color: #61dafb;
}

.modal-body {
  text-align: justify;
  text-justify: inter-word;
}

.modal-content {
  font-weight: normal;
  color: #20232a;
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  width: 80%;
  position: relative;
  animation: animate-top 0.4s;
  box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.close-button {
  color: #20232a;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: #aaa;
  text-decoration: none;
  cursor: pointer;
}

@keyframes animate-top{from{top:-300px;opacity:0} to{top:0;opacity:1}}
