/* .App {
  text-align: center;
} */

.person {
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: #4b4b4b;
  border: 5px solid white;
  padding: 1.5rem;
  border-radius: 12px;
}
